<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Welcome to the Guidance Automation Toolkit</title>
</head>

<body style="margin:0px">
<table width="100%"  style="background-color:#0077D5">
<tr><td>
<img src="header.gif" align="right" />
</td></tr>
</table>

<div id="nstext" style="margin:5px"  valign="bottom">
<h1 style="font-family:tahoma; font-weight:bold; font-size:13px">    Welcome to the Guidance Automation Toolkit</h1>
<div  style="font-family:tahoma; font-weight:normal; font-size:11px">
You can use the 
	Guidance Automation Toolkit to make reusable code and pattern assets 
	directly available in Visual Studio 2005. The toolkit has been designed to 
	simplify integrating reusable code into applications. This lets architects 
	automate processes, and guide their developers through complex procedures 
	that would otherwise need to be thoroughly documented.
	<p>The toolkit can be used with assets developed in-house or by third 
	parties, such as the assets created by the Microsoft <i>patterns &amp; practices
	</i>team. It provides a Recipe Framework that lets you expose assets to 
	developers within Visual Studio. These assets can be added, and in some 
	cases, configured by using configuration files, templates and wizards. For 
	more information on using the Guidance Automation Toolkit, please see 
	the product documentation.</div>
</div>
</body>

</html>